<!DOCTYPE html>
<header>
    <div class="search-bar">
        <i class="fas fa-search"></i>
        <form>
            <input placeholder="Search Restaurant">
            <input placeholder="City ">
        </form>
    </div>

</header>