<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/projects.css">

    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <script src="/js/map.js" crossorigin="anonymous"></script>



    <link rel="stylesheet" type="text/css" href="../css/map.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src={{process.env.GOOGLE_API}}
    ></script>

    <title>MAP</title>

</head>

<body>
{{>base_container}}
    <main>
        {{>header}}

        <div id="googlemap"></div>


    </main>
</div>

</body>